# REQUIRED
NEWTON_SESSION_COOKIE=session=...
# OR
NEWTON_AUTH_TOKEN=your_bearer_token

# OPTIONAL
NEWTON_BASE_URL=https://my.newtonschool.co
NEWTON_COURSE_HASH=your_default_course_hash
NEWTON_USERNAME=your_newton_username
NEWTON_SUBMIT_POLL_ATTEMPTS=8
NEWTON_SUBMIT_POLL_INTERVAL_MS=1200
